.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
background: #000000;
padding: 10px 20px;
color: white;
max-height: 70px;
position: sticky;
top: 0;
}

.logo {
font-size: 100px;
font-weight: bold;
}

/* اللينكات في الديسكتوب */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li{
  font-size: 22px;
  color: #798086;
  margin: 0 10px;
  cursor: pointer;
}
.nav-links li a{
  text-decoration: none;
  color: #798086;
  transition: .5s;
}
.nav-links li a:hover{
color: rgb(14, 204, 204);
}

/* في الموبايل تتخبى */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Media Query عشان الموبايل */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* الأيقونة تظهر */
  }

  .nav-links {
    display: none; /* اللينكات تختفي */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #444;
    padding: 20px 0;
    gap: 15px;
    text-align: center;
  }

  .nav-links.active {
    display: flex; /* تظهر لما نضغط الأيقونة */
  }
}
