:root{
    --main-color:rgb(14, 204, 204);
}

.hero-section{
    background-image: url("../../src//images//home-bg.png");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .content-section1{
    width: 700px;
    text-align: center;
}
.hero-section .content-section1 span{
    font-size: 4rem;
    color: var(--main-color)
}
.hero-section .content-section1 h1{
    font-size: 2.5rem;
    color: #fff;
}
.hero-section .content-section1 p{
    font-size: 1rem;
    margin: 30px 0;
    color: #fff;
}
.hero-section .content-section1 button{
    background-color: rgb(3, 95, 95);
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: .6s;
    color: #fff;
}
.hero-section .content-section1 button:hover{
    background-color: rgb(9, 155, 155);
    color: #000;
}

@media (max-width:660px) {
    .hero-section .content-section1 span{
        font-size: 2rem;
        
    }
    .hero-section .content-section1 h1{
        font-size: 1.5rem;
        color: #fff;
    }
    .hero-section .content-section1 p{
        font-size: .8rem;
        margin: 30px 0;
        color: #fff;
    }
    .hero-section .content-section1 button{
        background-color: rgb(3, 95, 95);
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 25px;
        transition: .6s;
        color: #fff;
    }

    
}